<!DOCTYPE html>
<html lang="pt-br" dir="ltr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{~/css/global.css}">
    <style type="text/css"></style>

    <title>Cadastro de local</title>
</head>

<body>
    <nav class="letramenu flexmenu" id="menu-h">
        <ul>

            <li>
                <a href="/localacessilidade">Home</a>
            </li>

            <li><a href="/localacessilidade/new">Cadastro</a></li>

        </ul>
    </nav>
    <div class="fomrs">
        <div>
            <form action="/localacessilidade" method="POST" th:object="${localAcessilidade}">
                <input class="hide" th:field="*{idLocal}" id="idLocal">
                <div class="espacinho">
                    <label for="estado" id="labelEstado" th:field="*{estado}"  >Estado:</label>
                    <div>
                        <input type="text" id="estado">
                    </div>
                </div>
                <div class="espacinho">
                    <label for="cidade">Cidade:</label>
                    <div>
                        <input type="text" id="cidade" th:field="*{cidade}" >
                    </div>
                </div>
                <div class="espacinho">
                    <label for="bairro">Bairro:</label>
                    <div>
                        <input type="text" id="bairro" th:field="*{bairro}">
                    </div>
                </div>
                <div class="espacinho">
                    <label for="endereco">Endereço:</label>
                    <div><input type="text" id="endereco" th:field="*{logradouro}"></div>
                    </div>
                <div class="espacinho">
                    <label for="cep">Cep:</label>
                    <div><input type="text" id="cep" th:field="*{cep}"></div>
                </div>
                <div class="espacinho">
                    <label for="local">Local:</label>
                    <div><input type="text" id="local" th:field="*{local}"></div>
                </div>
                <div class="buttons">
                    <a href="/localacessilidade">
                        <span class="material-icons">edit</span>
                        <input type="submit" value="salvar" class="button">
                    </a>
                </div>
            </form>
        </div>
    </div>
</body>

</html>